<div class="wrapper">
    <!-- Main Header -->
    <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">LOGO</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">LOGO</span>
        </a>
        
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- /.messages-menu -->
            </ul>
            </div>
        </nav>
    </header>
    <!-- ./Main Header -->
          
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="header">MENU</li>
                <!-- Optionally, you can add icons to the links -->
                <li (click)="showMaster=!showMaster; showMaster=false; showList=true; showShipment=true"><a href="#"><i class="glyphicon glyphicon-list-alt"></i> <span>Master</span></a></li>
                <li (click)="showList=!showList; showList=false; showMaster=true; showShipment=true"><a href="#"><i class="glyphicon glyphicon-file"></i> <span>Invoice</span></a></li>
                <li (click)="showShipment=!showShipment; showShipment=false; showMaster=true; showList=true"><a href="#"><i class="glyphicon glyphicon-plane"></i> <span>Shipment</span></a></li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
     <!-- ./Left side column. contains the logo and sidebar -->
          
    <!-- Content Wrapper. Contains page content --> 
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            
        </section>

        <!-- Main content -->
        <div *ngIf="!showMaster">
            <app-master></app-master>    
        </div>   

        <div *ngIf="!showList">
            <app-list></app-list>    
        </div>  

        <div *ngIf="!showShipment">
            <app-shipment></app-shipment>    
        </div> 
        <!-- /.Main COntent -->

        <!-- footer -->
        <footer style="background-color: white">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
            Created By: Adnet Indonesia
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>
        <!-- Main Footer -->
        
        <div class="control-sidebarside"></div>
    </div>